.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: auto;
  border-radius: 45px;
  margin: 0 auto;
  background-color: #323436;
  color: #fff;
  padding: 20px;
}

.date-input {
  border-radius: 10px;
  font-size: 1.4rem;
  background-color: #fff;
  border: none;
}

.date-input:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  cursor: pointer;
}

.bday-container {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.bday-container span {
  font-size: 20px;
  padding-bottom: 18px;
}

.bday-icon {
  width: 75px;
  height: 75px;
  border-radius: 35px;
  margin-top: 7px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #5e6165;
}

.current,
.next {
  width: 48%;
  text-align: center;
}

.current label,
.next label {
  color: orangered;
  font-size: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current label {
  font-size: 55px;
}

.next-bday {
  padding-top: 15px;
}

.current span,
.next span {
  font-size: 40px;
  padding: 5px;
}

.next-bday span {
  font-size: 20px;
}

.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.content {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.summary {
  margin-top: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  color: orangered;
}

.content span {
  font-size: 30px;
}

.content p {
  font-size: 24px;
}

@media screen and (max-width: 785px) {
  .date-input {
    font-size: 1.2rem;
    border-radius: 25px;
    outline: none;
    border: none;
  }

  .bday-container {
    margin: 5px;
  }

  .bday-container span {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .current label,
  .next label {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .current span,
  .next span {
    font-size: 30px;
  }

  .next-bday span {
    font-size: 18px;
  }

  .content span {
    font-size: 22px;
  }

  .content p {
    font-size: 20px;
  }

  .details {
    flex-wrap: wrap;
  }

  .content {
    width: calc(33.33% - 20px);
    margin: 10px;
  }

  .container {
    flex-direction: column;
  }

  .current,
  .next {
    width: 100%;
    margin-bottom: 20px;
  }
}